{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index/industry.css' %}">
    <title>ارتباط با صنعت | انجمن علمی مکانیک</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src="{% static 'assets/images/shahid-bahonar-university-of-kerman-logo.png' %}">
        </div>
        <div class="header-top">
            <a href="https://uk.ac.ir/" target="_blank">دانشگاه شهید باهنر کرمان</a>
            <a href="{% url 'login' %}" target="_blank" class="login-btn">ورود / ثبت‌نام</a>
        </div>
        <div class="nav-bar">
            <div class="logo">⚙️انجمن علمی مهندسی <span>مکانیک</span></div>
            <div class="nav-links">
                <a href="{% url 'home' %}">صفحه اصلی</a>
                <a href="#"><i class="fa-solid fa-chevron-down"></i> درباره دانشکده</a>
                <a href="#"><i class="fa-solid fa-chevron-down"></i> ارتباط با صنعت</a>
                <a href="{% url 'all_events' %}">رویدادها</a>
                <a href="{% url 'all_resources' %}">منابع علمی</a>
                <a href="{% url 'honors' %}">افتخارات انجمن</a>
                <a href="{% url 'contact' %}">تماس با ما</a>
            </div>
        </div>
    </header>
    <ul id="ul-about">
        <li><a href="{% url 'about' %}">معرفی دانشکده</a></li>
        <li><a href="{% url 'honors' %}">دستاورد ها و افتخارات</a></li>
    </ul>
    <ul id="ul-relation">
        <li><a href="#">خدمات دانشکده به صنعت</a></li>
    </ul>

    <section class="hero">
        <img src="{% static 'assets/images/fani.jpg' %}">
    </section>

    <div class="page-title">
        <h2>خدمات دانشکده به صنعت</h2>
    </div>

    {% for service in services %}
    <main class="content-container">
        <div class="content">
            <div class="text-content">
                <h2>{{ service.title }}</h2>
                <p>{{ service.description }}</p>
                
                {% if service.manager_name %}
                    <br><hr><br>
                    <h2>{{ service.manager_name }}</h2>
                    <ul>
                        <li>شماره تماس :  <span>{{ service.manager_phone }}</span></li>
                        <li>آدرس ایمیل :  <span>{{ service.manager_email }}</span></li>
                        <li>شماره اتاق :  <span>{{ service.manager_room }}</span></li>
                    </ul>
                {% endif %}
                
                {% if service.get_goals_list %}
                    <br><hr><br>
                    <h2>اهداف</h2>
                    <ul id="goals">
                        {% for goal in service.get_goals_list %}
                            <li>{{ goal }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="image-content">
                {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.title }}">
                {% else %}
                    <img src="{% static 'assets/images/fani.jpg' %}" alt="{{ service.title }}">
                {% endif %}
            </div>
        </div>
    </main>
    {% empty %}
    <main class="content-container">
        <div class="content">
            <div class="text-content">
                <h2>هنوز خدماتی ثبت نشده است</h2>
                <p>لطفاً از پنل ادمین خدمات را اضافه کنید.</p>
            </div>
        </div>
    </main>
    {% endfor %}

    <footer>
        <div class="footer-up">
            <div class="content">
                <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;&nbsp; کرمان - بلوار جمهوری - پل امیرکبیر -
                    دانشکده فنی مهندسی &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;دانشگاه شهید باهنر - دانشکده
                    مکانیک</p>
                <p><i class="fa-brands fa-telegram"></i> &nbsp;&nbsp;&nbsp;&nbsp; ukmechanics@</p>
                <p><i class="fa-brands fa-instagram"></i> &nbsp;&nbsp;&nbsp;&nbsp; ukmechanics@</p>
            </div>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3445.4741871022507!2d57.012748796789545!3d30.28055960000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f0218b67107c6dd%3A0x398906da69669661!2sFaculty%20of%20Engineering%20Campus%20-Shahid%20Bahonar%20University%20of%20Kerman!5e0!3m2!1sen!2s!4v1781183631960!5m2!1sen!2s"
                    width="550" height="320" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

        <div class="footer-down">
            <p>&copy; ۲۰۲۵ انجمن علمی مکانیک - تمامی حقوق محفوظ است</p>
        </div>
    </footer>
    <div id="icons">
        <a href="https://t.me/ukmechanics" target="_blank">
            <img src="{% static 'assets/icons/15.png' %}">
        </a>
        <a href="https://instagram.com/ukmechanics?igshid=14gmuy96orpnd" target="_blank">
            <img src="{% static 'assets/icons/2.png' %}">
        </a>
    </div>
    <script>
        let aboutLink = document.querySelector('.nav-links a:nth-child(2)');
        let aboutUl = document.getElementById('ul-about');

        aboutLink.addEventListener('mouseover', function () {
            aboutUl.classList.add('show');
        });
        aboutLink.addEventListener('mouseout', function () {
            aboutUl.classList.remove("show");
        });

        aboutUl.addEventListener('mouseover', function () {
            aboutUl.classList.add('show');
        });
        aboutUl.addEventListener('mouseout', function () {
            aboutUl.classList.remove("show");
        });

        let relationLink = document.querySelector('.nav-links a:nth-child(3)');
        let relationUl = document.getElementById('ul-relation');

        relationLink.addEventListener('mouseover', function () {
            relationUl.classList.add('show');
        });
        relationLink.addEventListener('mouseout', function () {
            relationUl.classList.remove("show");
        });

        relationUl.addEventListener('mouseover', function () {
            relationUl.classList.add('show');
        });
        relationUl.addEventListener('mouseout', function () {
            relationUl.classList.remove("show");
        });
    </script>
</body>
</html>