@font-face {
    font-family: 'A Hamase';
    src: url('AHamase.eot');
    src: url('AHamase.eot?#iefix') format('embedded-opentype'),
        url('AHamase.woff2') format('woff2'),
        url('AHamase.woff') format('woff'),
        url('AHamase.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

